<h3>Chicago Style Citation Generator</h3>
<form action="/chicago" method="post">
  <p>Author's first name:</p><input type="text" name="firstName">
  <p>Author's last name:</p><input type="text" name="lastName">

  <p>Number of authors:</p><input type="text" name="authorCount">

  <p>Second author's first name:</p><input type="text" name="firstName2">
  <p>Second author's last name:</p><input type="text" name="lastName2">

  <p>Third author's first name:</p><input type="text" name="firstName3">
  <p>Third author's lastname:</p><input type="text" name="lastName3">
  
  <p>Title:</p><input type="text" name="title">
  <p>City where published:</p><input type="text" name="location">
  <p>Publisher:</p><input type="text" name="publisher"> 
  <p>Year published:</p><input type="text" name="year">
  <p>Pages used (separated by a dash):</p><input type="text" name="pages">

  <input type="submit">
</form>

